<!-- POPUP BOX -->
<div class="popup-box mid popup-manage-group" [class.hide]="modalImgSvc.hideModal">
    <!-- POPUP CLOSE BUTTON -->
    <div class="popup-close-button popup-manage-group-trigger" (click)="hide()">
        <!-- POPUP CLOSE BUTTON ICON -->
        <svg class="popup-close-button-icon icon-cross">
            <use xlink:href="#svg-cross"></use>
        </svg>
        <!-- /POPUP CLOSE BUTTON ICON -->
    </div>
    <!-- /POPUP CLOSE BUTTON -->

    <!-- POPUP BOX BODY -->
    <div class="popup-box-body">
        <!-- POPUP BOX SIDEBAR -->
        <div class="popup-box-sidebar">
            <!-- USER PREVIEW -->
            <div class="user-preview small">
                <!-- USER PREVIEW COVER -->
                <figure class="user-preview-cover liquid">
                    <img src="img/cover/29.jpg" alt="cover-29">
                </figure>
                <!-- /USER PREVIEW COVER -->

                <!-- USER PREVIEW INFO -->
                <div class="user-preview-info">
                    <!-- USER SHORT DESCRIPTION -->
                    <div class="user-short-description small">
                        <!-- USER SHORT DESCRIPTION AVATAR -->
                        <a class="user-short-description-avatar user-avatar no-stats" href="group-timeline.html">
                            <!-- USER AVATAR BORDER -->
                            <div class="user-avatar-border">
                                <!-- HEXAGON -->
                                <div class="hexagon-100-108"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR BORDER -->

                            <!-- USER AVATAR CONTENT -->
                            <div class="user-avatar-content">
                                <!-- HEXAGON -->
                                <div class="hexagon-image-84-92" data-src="img/avatar/24.jpg"></div>
                                <!-- /HEXAGON -->
                            </div>
                            <!-- /USER AVATAR CONTENT -->
                        </a>
                        <!-- /USER SHORT DESCRIPTION AVATAR -->

                        <!-- USER SHORT DESCRIPTION TITLE -->
                        <p class="user-short-description-title small"><a href="group-timeline.html">Cosplayers of the
                                World</a></p>
                        <!-- /USER SHORT DESCRIPTION TITLE -->

                        <!-- USER SHORT DESCRIPTION TEXT -->
                        <p class="user-short-description-text regular">Group Organizer</p>
                        <!-- /USER SHORT DESCRIPTION TEXT -->
                    </div>
                    <!-- /USER SHORT DESCRIPTION -->
                </div>
                <!-- /USER PREVIEW INFO -->
            </div>
            <!-- /USER PREVIEW -->

            <!-- SIDEBAR MENU ITEM -->
            <div class="sidebar-menu-item">
                <!-- SIDEBAR MENU BODY -->
                <div class="sidebar-menu-body secondary">
                    <!-- SIDEBAR MENU LINK -->
                    <p class="sidebar-menu-link active">Group Info</p>
                    <!-- /SIDEBAR MENU LINK -->

                    <!-- SIDEBAR MENU LINK -->
                    <p class="sidebar-menu-link">Avatar and Cover</p>
                    <!-- /SIDEBAR MENU LINK -->

                    <!-- SIDEBAR MENU LINK -->
                    <p class="sidebar-menu-link">Social Networks</p>
                    <!-- /SIDEBAR MENU LINK -->

                    <!-- SIDEBAR MENU LINK -->
                    <p class="sidebar-menu-link">Settings</p>
                    <!-- /SIDEBAR MENU LINK -->

                    <!-- SIDEBAR MENU LINK -->
                    <p class="sidebar-menu-link">Members</p>
                    <!-- /SIDEBAR MENU LINK -->

                    <!-- SIDEBAR MENU LINK -->
                    <p class="sidebar-menu-link">Delete Group</p>
                    <!-- /SIDEBAR MENU LINK -->
                </div>
                <!-- /SIDEBAR MENU BODY -->
            </div>
            <!-- /SIDEBAR MENU ITEM -->

            <!-- POPUP BOX SIDEBAR FOOTER -->
            <div class="popup-box-sidebar-footer">
                <!-- BUTTON -->
                <p class="button secondary full popup-manage-group-trigger">Save Changes!</p>
                <!-- /BUTTON -->

                <!-- BUTTON -->
                <p class="button white full popup-manage-group-trigger">Discard All</p>
                <!-- /BUTTON -->
            </div>
            <!-- /POPUP BOX SIDEBAR FOOTER -->
        </div>
        <!-- /POPUP BOX SIDEBAR -->

        <!-- POPUP BOX CONTENT -->
        <div class="popup-box-content">
            <!-- WIDGET BOX -->
            <div class="widget-box">
                <!-- WIDGET BOX TITLE -->
                <p class="widget-box-title">Group Info</p>
                <!-- /WIDGET BOX TITLE -->

                <!-- WIDGET BOX CONTENT -->
                <div class="widget-box-content">
                    <!-- FORM -->
                    <form class="form">
                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="group-name">Group Name</label>
                                    <input type="text" id="group-name" name="group_name"
                                        value="Cosplayers of the World">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="group-tagline">Tagline</label>
                                    <input type="text" id="group-tagline" name="group_tagline"
                                        value="All Cosplayers Welcome!">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small mid-textarea">
                                    <textarea id="group-description" name="group_description"
                                        placeholder="Write a little description about the group..."></textarea>
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small active">
                                    <label for="group-public-email">Public Email</label>
                                    <input type="text" id="group-public-email" name="group_public_email"
                                        value="info@cosworld.com">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->

                        <!-- FORM ROW -->
                        <div class="form-row">
                            <!-- FORM ITEM -->
                            <div class="form-item">
                                <!-- FORM INPUT -->
                                <div class="form-input small">
                                    <label for="group-public-website">Public Website</label>
                                    <input type="text" id="group-public-website" name="group_public_website">
                                </div>
                                <!-- /FORM INPUT -->
                            </div>
                            <!-- /FORM ITEM -->
                        </div>
                        <!-- /FORM ROW -->
                    </form>
                    <!-- /FORM -->
                </div>
                <!-- WIDGET BOX CONTENT -->
            </div>
            <!-- /WIDGET BOX -->
        </div>
        <!-- /POPUP BOX CONTENT -->
    </div>
    <!-- /POPUP BOX BODY -->
</div>
<!-- /POPUP BOX -->















<!-- <div class="modal-back" [class.hide]="modalImgSvc.hideModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Image</h4>
                    <button type="button" (click)="hide()" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <h3>Choose an image</h3>

                    <div class="text-center">
                        
                    </div>
                    <input #inputImage hidden type="file" >
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="hide()" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button"   class="btn btn-primary">Save image</button>
                </div>
            </div>
        </div>
    </div>

</div> -->
<!-- (change)="handleImage($event.target.files[0])" -->
<!-- (click)="fileUpload()" -->
<!-- <img [src]="modalImgSvc.img" *ngIf="!imgTemp" class="img-avatar" (click)="inputImage.click()">
                        <img [src]="imgTemp" *ngIf="imgTemp" class="img-avatar"> -->